html {
    font-size: 100%;
}

body {
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;
}

a {
    color: #121212;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 40px;
}

/*header*/
.header {
    background-color: #DDDDDD;
}
.header i {
    font-size: 50px;
}
.menu {
    display: flex;
    justify-content: space-between;
	list-style-type:none;
    align-items: center;
    padding: 0 20px;
}
.menu a {
    color: #99ccff;
}
.menu > li {
	display:inline-block;
	position:relative;
    font-size: 30px;
}
.menu > li > ul {
	display:none;
}
.menu > li:hover ul {
	display:block;
	position:absolute;
	padding:0;
	margin:0;
	top: 35px;
	right:10px;
	list-style-type:none;
    z-index: 1;
}
.menu .dropdown-menu {
    font-size: 20px;
}

#video {
    z-index: -1;
}

.pickup-items img {
    width: 80%;
}

#feature {
    max-width: 1240px;
    padding: 100px 16px 50px 16px;
    margin: -50px auto 10px auto;
  }
   .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .grid .item {
    transition: all  0.3s ease;
    box-shadow: 0 0 8px 4px #ccc;
  }
  .grid img {
    vertical-align: top;
  }
  .grid .item-content {
    padding: 30px;
  }
  .grid .item-cat {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .grid .item-text {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .grid .item-date {
    font-size: 0.75rem;
    text-align: right;
  }

#contact {
    background: #000;
    color: #fff;
    padding: 50px 0;
}

#contact .content {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#contact .contact-info {
    width: 45%;
}

#contact .contact-form {
    width: 45%;
}

#contact .btn-form {
    margin-top: 10px;
    width: 200px;
    color: #fff;
    background-color: #121212;
    border: solid 1px #fff;
    padding: 12px 0;
    margin-bottom: 0;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.popup {
    width: 130px;
    border: solid 1px #000;
    border-radius: 10px;
}

.footer {
    background: #000;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 18px;
}



